@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

body {
  font-family: 'Sofia Sans', sans-serif;
  background-color: #E2E2E2;
}

body .d3-tip {
  background-color: #5E5E5E;
  border-radius: 20px;
  color: white;
  text-align: center;
  padding: 10px;
}

section {
  width: auto;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

section h1 {
  text-align: center;
}

section svg {
  stroke-width: 0.2;
  stroke: black;
}

section .map {
  stroke-width: 0;
}
section .map rect:hover {
  stroke-width: 2.5;
}
